alembic==1.3.0
argon2-cffi==19.2.0
arrow==0.15.4
attrs==19.3.0
Babel==2.9.1
bcrypt==3.1.7
binaryornot==0.4.4
blinker==1.4
category-encoders==2.0.0
certifi==2022.12.7
cffi
chardet==3.0.4
Click==7.0
configparser==4.0.2
coverage
cryptography==3.3.2
cycler==0.10.0
dash==1.3.0
dash-core-components==1.2.0
dash-html-components==1.0.1
dash-renderer==1.1.0
dash-table==4.3.0
environs==7.1.0
Flask==1.0.2
Flask-Argon2==0.1.5.1
Flask-BabelEx==0.9.3
Flask-Bcrypt==0.7.1
Flask-Caching==1.8.0
Flask-Compress==1.4.0
Flask-Cors==3.0.9
Flask-Dance==3.0.0
Flask-DebugToolbar==0.10.1
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-User==1.0.2.1
Flask-WTF==0.14.2
future==0.17.1
gunicorn==20.0.4
idna==2.8
importlib-metadata
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.2.0
kiwisolver==1.1.0
liac-arff==2.4.0
lxml==4.6.5
Mako==1.2.2
MarkupSafe==1.1.1
marshmallow==3.3.0
matplotlib
more-itertools==8.0.2
names==0.3.0
numpy
oauthlib==3.1.0
packaging==20.1
pandas
passlib==1.7.2
patsy==0.5.1
percy==2.0.2
plotly==4.1.1
pluggy==0.13.1
poyo==0.5.0
py==1.10.0
pycparser==2.19
PyJWT==2.4.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.6
pytest==5.3.4
pytest-flask==0.15.1
pytest-mock==2.0.0
pytest-sugar==0.9.2
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.2
requests>=2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
scikit-learn
scipy
seaborn==0.9.0
selenium==3.141.0
six==1.14.0
SQLAlchemy==1.3.8
SQLAlchemy-Utils==0.36.1
termcolor==1.1.0
urllib3==1.26.5
URLObject==2.4.3
wcwidth==0.1.7
Werkzeug==0.16.0
whichcraft==0.6.1
wincertstore==0.2
WTForms==2.2.1
xmltodict==0.12.0
zipp
Pillow
openml
