{
  "extends": ["next/core-web-vitals", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "@next/next/link-passhref": "off",
    "react/no-unescaped-entities": "off",
    "import/no-unresolved": "error"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./"]],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".svg"]
      }
    }
  }
}
