* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	background-color: #f2f2f2;

	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem !important;
	/*min-width: 480px;*/
}

h1 {
    margin-bottom: 0px;
}

a.noLink {
	color: unset;
	text-decoration:none;
}

a.noLink:hover {
	color: unset;
	text-decoration:none;
}

.sidebar {
	background-color: #fefefe;
	display: block;
	position: fixed;
	left: 0px;
    top: 0px;
	width: 256px;
	height: 100%;

	z-index: 9;


    padding: 70px 10px 10px 10px;

	box-shadow: 4px 0px 8px 0px #00000014;
}

.mainBar {
    margin-top: 60px;
	padding: 30px;
}

.mainBar-sideBarOpen {
    margin-left: 256px;
}

@media(max-width: 512px){
    .mainBar-sideBarOpen {
        margin-left: 0px;
    }
}

.topbar {
	background-color: #4caf50;

	box-shadow: 0 0 4px #00000023,0px 4px 8px #00000023;
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	min-height: 70px;
	color: #ffffffd7;
	font-size: 22px;
	font-weight: 200;
	padding-top:5px;

	z-index: 10;
}

.topbar .topbar-icon {
    height: 60px;
    line-height: 30px;
    padding: 15px;

    cursor: pointer;
}

.contentSection {
	box-shadow: 0px 1px 6px 0px #00000023;
	position: relative;
	width: 100%;
	min-height: 80px;
	background-color: #fefefe;
	padding: 10px;

}
.evaluationContentSection {
	box-shadow: 0px 1px 6px 0px #00000023;
		position: relative;
	width: 100%;
	min-height: 200px;
	background-color: #fefefe;
	padding: 10px;

}
.smallContentSection {
/*	box-shadow: 0px 1px 6px 0px #00000023;*/
	/*position: relative;*/
	width: 100%;
	min-height: 50px;
	background-color: #fefefe;
	padding: 10px;

}
.rightContentSection {
	/*box-shadow: 0px 1px 6px 0px #00000023;*/
	position: absolute;
	right: 0px;
	width: 70%;
	min-height: 200px;
	background-color: #fefefe;
	padding: 10px;
}
.leftContentSection {
	/*box-shadow: 0px 1px 6px 0px #00000023;*/
	 position: absolute;
	left: 0px;
	width: 30%;
	min-height: 200px;
	background-color: #fefefe;
	padding: 10px;
}
.userPanel{
/*	position: absolute;*/
	width: 100%;
	min-height: 300px;
	padding: 15px;
	border-radius: 0px;
	background-color: #fefefe;
	  margin-bottom: 20px

}
.userPanelDetails{
	position:relative;
	width: 100%;
	min-height: 180px;
	padding: 15px;
	border-radius: 0px;
	background-color: #fefefe;

}
.userPanelStats {
	  position:relative;
		width: 100%;
		min-height: 80px;
    border-radius: 0px;
		background-color: #fefefe;
}
.userTable{
	box-shadow: 0px 1px 6px 0px #00000023;
/*	position: relative;*/
	width: 100%;
	min-height: 80px;
	background-color: #fefefe;
	padding: 10px;


}
/*Button*/
.button {
	display: inline-block;
    background-color: #4caf50;
	border-radius: 2px;
	padding: 10px;
	color: #ffffff;
	margin: 0px 5px 0px 5px;

}

.button-gray {
	color: black;
	display: inline-block;
	border-radius: 2px;

	padding: 10px;

}

a.button-gray:hover {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}
.button-white {
	color: #ffffffd7;
	font-size: 1.8rem;
	display: inline-block;
	border-radius: 2px;
	padding: 10px;
	text-transform: uppercase;
	margin-right:15px;
	margin-top:5px;
}

a.button-white:hover {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}


input {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
    padding: 10px;

    border: 0px solid black;

    border-radius: 2px;

    font-family: inherit;
    font-size: inherit;
}

/*Relating to drop down menu*/
.dropdown-container {
	position: relative;
	display: inline-block;

}

.dropdown-main {
	display: inline-block;
	border-color: #adadad;
	border-radius: 2px;

    background-color: white;

    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);

	width: 200px;

	padding: 10px;
	margin: 5px;
}

.dropdown-main-icon {
    float: right;
}

.dropdown-options {
	position: absolute;
	left: 5px;
	top: 2em;

	display: block;
	width: 200px;
	padding: 0px;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);

	background-color: #ffffff;
	list-style-type: none;

    z-index: 1;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 5px;
}

.dropdown-item-hover {
	background-color: #ececec;
}

.dropdown-item-selected {
	font-weight: bold;
}

/*Filter bar*/
.filterBar {
    padding: 20px;
}


/*relating to search result*/
.item { /* item in search result*/
    display: flex;
    flex-wrap: wrap;

	overflow: hidden;
}

.itemHead span {
	height: 20px;
	font-size: 20px;
	color: #3d8b3d;
	align-self: flex-start;
    flex-grow: 0;
}

.itemName {
	align-self: flex-start;
	padding-left: 10px;
	font-weight: bold;
	flex-shrink: 0.2;
	flex-grow: 2;
    min-width: 105px;
    flex-basis: 105px;
	/*height: 66%;*/
	overflow: hidden;
}

.itemDetail-small {
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px;
}

.itemInfo {
	flex-grow: 8;
    flex-shrink: 2;

    flex-basis: 200px;
}

.itemInfo .itemTeaser {
	height: 1.7em;
    width: 75%;


	overflow: hidden;
}

.itemInfo .itemStats {
	color: #3d8b3d;
	min-height: 25px;

    display: flex;
    flex-wrap: wrap;
}

.itemInfo .itemStatsBig {
	font-weight: bold;
}

.stat {
	padding-left: 7px;
	padding-right: 7px;
}

.itemStats img {
	height: 1em;
	margin-right: 5px;
	vertical-align: middle;
}

/* Stuff for the top bar */
.hamburgerIcon {
	height: 1em;
	vertical-align: middle;
}

/* Stuff for item detail page */
.dataStats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    justify-content: space-around;
}

.dataStats span {
    margin-right: 10px;
}

.tag {
    background-color: #3d8b3d;
    font-size: 10px;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 4px;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    flex-grow: 2;
    text-align: center;
}

.subtitle {
	font-style: oblique;
	color: #aaaaaa;
	display: block;
    margin-bottom: 20px;
    font-weight: normal;
}
/* user image*/
.userImage {
	margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
	border-radius: 50%
}

/* sidebar */

/* First level of nav */
.sidenav {
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  margin-top:10px;
  margin-right: 0px;
  padding-inline-start: 0px
}

.sidenav ul {
  list-style: none;
}

.sidenav li {
  padding-left: 10px;
}

.sidenav > li > a {
  display: block;
  color: #424242;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
  text-decoration: none;
}

.sidenav > li > a > i{
  margin-right: 8px;
}

.icongreen i {
  color: #388e3c;
  display: inline-block;
  margin-right: 3px;
}

.green {
  color: #388e3c !important;
}
.yellow {
  color: #fb8c00 !important;
}
.blue {
  color: #1976d2 !important;
}
.red {
  color: #d32f2f !important;
}
.purple {
  color: #9c27b0 !important;
}
.lightblue {
  color: #03a9f4 !important;
}
