* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	background-color: #f2f2f2;
	
	font-family: 'Roboto', sans-serif;
	/*min-width: 480px;*/
}

h1 {
    margin-bottom: 0px;
}

a.noLink {
	color: unset;
	text-decoration: unset;
}

.sidebar {
	background-color: #fefefe;
	display: block;
	position: fixed;
	left: 0px;
    top: 0px;
	font-size: 14px;
	width: 256px;
	height: 100%;


    padding: 70px 10px 10px 10px;
	
	box-shadow: 4px 0px 8px 0px #00000014;
}

.mainBar {
    margin-top: 60px;
	padding: 30px;
}

.mainBar-sideBarOpen {
    margin-left: 256px;
}

@media(max-device-width: 512px){
    .mainBar-sideBarOpen {
        margin-left: 0px;
    }
}

.topbar {
	background-color: #4caf50;
	
	box-shadow: 0 0 4px #00000023,0px 4px 8px #00000023;
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	min-height: 50px;
	color: #ffffffd7;
	font-size: 18px;

}

.topbar .topbar-icon {
    height: 60px;
    line-height: 30px;
    padding: 15px;

    cursor: pointer;
}

.contentSection {
	box-shadow: 0px 1px 6px 0px #00000023;
	width: 100%;
	min-height: 80px;
	background-color: #fefefe;
	
	padding: 10px;
	overflow: hidden;
}


/*relating to search result*/
.item { /* item in search result*/
    display: flex;
    flex-wrap: wrap;
}

.itemHead span {
	height: 20px;
	font-size: 20px;
	color: #3d8b3d;
	align-self: flex-start;
    flex-grow: 0;
}

.itemName {
	align-self: flex-start;
	padding-left: 10px;
	font-weight: bold;
	flex-shrink: 0.2;
	flex-grow: 2;
    min-width: 105px;
    flex-basis: 105px;
	/*height: 66%;*/
	overflow: hidden;
}

.itemDetail-small {
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px;
}

.itemInfo {
	flex-grow: 8;
    flex-shrink: 2;

    flex-basis: 200px;
}

.itemInfo .itemTeaser {
	height: 1em;
    width: 75%;


	overflow: hidden;
}

.itemInfo .itemStats {
	color: #3d8b3d;
	min-height: 25px;

    display: flex;
    flex-wrap: wrap;
}

.itemInfo .itemStatsBig {
	font-weight: bold;
}

.stat {
	padding-left: 7px;
	padding-right: 7px;
}

.itemStats img {
	height: 1em;
	margin-right: 5px;
	vertical-align: middle;
}

/* Stuff for the top bar */
.hamburgerIcon {
	height: 1em;
	vertical-align: middle;
}

/* Stuff for item detail page */
.dataStats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    justify-content: space-around;
}

.dataStats span {
    margin-right: 10px;
}

.tag {
    background-color: #3d8b3d;
    font-size: 10px;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 4px;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    flex-grow: 2;
    text-align: center;
}

.subtitle {
	font-style: oblique;
	color: #aaaaaa;
	display: block;
    margin-bottom: 20px;
    font-weight: normal;
}