* {
	box-sizing: border-box;
}

body {
	margin-top: 50px;
	padding: 0px;
	background-color: #f2f2f2;
	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	min-width: 480px;
}

.sidebar {
	background-color: #fefefe;
	display: block;
	position: fixed;
	left: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14px;
	width: 256px;
	height: 100%;
	
	box-shadow: 4px 0px 8px 0px #00000014;
}

.mainBar {
	margin-left: 256px;
	padding: 20px;
}

.topbar {
	background-color: #4caf50;
	
	box-shadow: 0 0 4px #00000023,0px 4px 8px #00000023;
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	min-height: 50px;
	color: #ffffffd7;
	font-size: 18px;
	
	padding: 15px;
}

/*relating to search result*/
.contentSection {
	box-shadow: 0px 1px 6px 0px #00000023;
	display: flex;
	width: 100%;
	min-height: 80px;
	background-color: #fefefe;
	
	padding: 10px;
	overflow: hidden;
}

.itemHead span {
	height: 20px;
	font-size: 20px;
	color: #3d8b3d;
	align-self: flex-start;
}

.itemName {
	align-self: flex-start;
	padding-left: 10px;
	font-weight: bold;
	flex-shrink: 0.1;
	width: 20%;
	height: 66%;
	overflow: hidden;
}

.itemInfo {
	width: calc(80% - 20px);
	overflow: hidden;
}

.itemInfo .itemTeaser {
	height: 33%;
	overflow: hidden;
}

.itemInfo .itemStats {
	color: #3d8b3d;
}

.itemInfo .itemStatsBig {
	font-weight: bold;
}

.stat {
	padding-left: 7px;
	padding-right: 7px;
}

.itemStats img {
	height: 1em;
	margin-right: 5px;
	vertical-align: middle;
}

/* Stuff for the top bar */
.hamburgerIcon {
	height: 1em;
	vertical-align: middle;
}